#database
DB_USER=
DB_NAME=
DB_PASSWORD=

#server
PORT=

#jwt
SECRET_KEY=

#session
SESSION_SECRET=

#google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

#frontend
FRONTEND_URL=
