<!-- Svg icons start -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <!-- Close Icon -->
  <symbol id="icon-close" viewBox="0 0 320.591 320.591">
    <path
      d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
    />
    <path
      d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
    />
  </symbol>

  <!-- Category Dropdown Arrow -->
  <symbol id="icon-arrow-down" viewBox="0 0 24 24">
    <path
      d="M12 16a1 1 0 0 1-.71-.29l-6-6a1 1 0 0 1 1.42-1.42l5.29 5.3 5.29-5.29a1 1 0 0 1 1.41 1.41l-6 6a1 1 0 0 1-.7.29z"
    />
  </symbol>

  <!-- Wishlist Icon -->
  <symbol id="icon-wishlist" viewBox="0 0 64 64">
    <path
      d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
    />
  </symbol>

  <!-- Cart Icon -->
  <symbol id="icon-cart" viewBox="0 0 512 512">
    <path
      d="M164.96 300.004h.024c.02 0 .04-.004.059-.004H437a15.003 15.003 0 0 0 14.422-10.879l60-210a15.003 15.003 0 0 0-2.445-13.152A15.006 15.006 0 0 0 497 60H130.367l-10.722-48.254A15.003 15.003 0 0 0 105 0H15C6.715 0 0 6.715 0 15s6.715 15 15 15h77.969c1.898 8.55 51.312 230.918 54.156 243.71C131.184 280.64 120 296.536 120 315c0 24.812 20.188 45 45 45h272c8.285 0 15-6.715 15-15s-6.715-15-15-15H165c-8.27 0-15-6.73-15-15 0-8.258 6.707-14.977 14.96-14.996zM477.114 90l-51.43 180H177.032l-40-180zM150 405c0 24.813 20.188 45 45 45s45-20.188 45-45-20.188-45-45-45-45 20.188-45 45zm45-15c8.27 0 15 6.73 15 15s-6.73 15-15 15-15-6.73-15-15 6.73-15 15-15zm167 15c0 24.813 20.188 45 45 45s45-20.188 45-45-20.188-45-45-45-45 20.188-45 45zm45-15c8.27 0 15 6.73 15 15s-6.73 15-15 15-15-6.73-15-15 6.73-15 15-15zm0 0"
    />
  </symbol>

  <!-- Profile Icon -->
  <symbol id="icon-profile" viewBox="0 0 24 24">
    <path
      d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
    />
  </symbol>
</svg>
<!--Svg icons end-->

<!-- Navbar start -->
<header
  class="border-bottom bg-white shadow-sm position-relative"
  style="z-index: 1050; min-height: 70px"
>
  <div
    class="navbar navbar-expand-lg py-3 px-5 container-fluid"
    aria-label="Fifth navbar example"
  >
    <!-- Logo -->
    <div class="px-2 py-0">
      <!--smaller screen-->
      <a class="d-block d-lg-none mb-3 mb-lg-0">
        <img
          src="hermes-logo.jpg"
          alt="logo"
          style="width: 70px; border-radius: 50%"
        />
      </a>
      <!--larger screens-->
      <a class="d-none d-lg-block">
        <img
          src="hermes-logo.jpg"
          alt="logo"
          style="width: 80px; border-radius: 50%"
        />
      </a>
    </div>
    <!--Logo end-->

    <!--Navbar start-->
    <!--toggler. shows only on smaller screens.-->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--end toggler-->

    <div
      class="offcanvas offcanvas-end"
      data-bs-scroll="true"
      tabindex="-1"
      id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <a class="navbar-brand col-lg-3 me-0" href="#">
          <!--despite being empty, dont remove to allow centering of navbar-->
        </a>
        <ul class="navbar-nav col-lg-6 justify-content-lg-center px-3 py-2">
          <li class="nav-item">
            <a
              routerLink=""
              routerLinkActive="text-primary"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link fw-bold fs-6"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle fw-bold fs-6 text-secondary d-flex align-items-center text-decoration-none"
              id="categoriesDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              aria-haspopup="true"
            >
              Categories
            </a>
            <ul
              class="dropdown-menu shadow p-3"
              aria-labelledby="categoriesDropdown"
              style="min-width: 250px"
            >
              <li>
                <a
                  class="dropdown-item fw-bold fs-6 text-secondary"
                  href="javascript:void(0)"
                  >Foods
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item fw-bold fs-6 text-secondary"
                  href="javascript:void(0)"
                  >Clothing</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item fw-bold fs-6 text-secondary"
                  href="javascript:void(0)"
                  >Electronics</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item fw-bold fs-6 text-secondary"
                  href="javascript:void(0)"
                  >Sale</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              routerLink="contact-us"
              routerLinkActive="text-primary"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link fw-bold fs-6"
              >Contact Us</a
            >
          </li>

          <form class="px-3" role="search">
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </ul>

        <!-- Icon set (wishlist, cart, profile) -->
        <div class="d-flex align-items-center gap-4 ms-auto pt-3 px-3 py-2">
          <!-- Wishlist -->
          <div
            class="position-relative"
            role="button"
            tabindex="0"
            aria-label="Wishlist"
          >
            <svg
              width="20"
              height="20"
              class="fill-secondary hover-fill-primary"
              role="img"
              aria-hidden="true"
            >
              <use xlink:href="#icon-wishlist"></use>
            </svg>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
              >0</span
            >
          </div>
          <!-- Cart -->
          <div
            class="position-relative"
            role="button"
            tabindex="0"
            aria-label="Shopping Cart"
          >
            <svg
              width="20"
              height="20"
              class="fill-secondary hover-fill-primary"
              role="img"
              aria-hidden="true"
            >
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
              >0</span
            >
          </div>

          <!-- Profile Dropdown -->
          <div class="dropdown">
            <a
              class="d-flex align-items-center text-secondary text-decoration-none dropdown-toggle"
              id="profileDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              role="button"
              aria-haspopup="true"
            >
              <svg
                width="27"
                height="27"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                class="me-1"
                role="img"
                aria-hidden="true"
              >
                <use xlink:href="#icon-profile"></use>
              </svg>
            </a>
            <ul class="dropdown-menu">
              @if (this.authService.showStatus()) {
                <li>
                  <a class="dropdown-item fw-bold fs-6 text-secondary"
                    >Profile</a
                  >
                </li>
                <li>
                  <a
                    (click)="logoutUser()"
                    class="dropdown-item fw-bold fs-6 text-secondary"
                    >Logout</a
                  >
                </li>
              } @else if (!this.authService.showStatus()) {
                <li>
                  <a
                    routerLink="login"
                    class="dropdown-item fw-bold fs-6 text-secondary"
                    >Login</a
                  >
                </li>
                <li>
                  <a
                    routerLink="register"
                    class="dropdown-item fw-bold fs-6 text-secondary"
                    >Register</a
                  >
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Navbar end-->
